.App {
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  padding: 16px 32px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
}

h1 {
  font-size: calc(80px + 2vmin);
  margin: 16px 0px;
}

h2 {
  font-size: calc(12px + 2vmin);
  margin: 16px 0px;
}

.NewsLoading {
  padding: 16px 32px;
}

.NewsList {
  padding: 16px 32px;
}

.NewsListItem {
  background-color: #fff;
  padding: 25px 32px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  color: #333;
  font-size: 13px;
  height: 20px;
  align-items: center;
}

.NewsListItem:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.NewsListItemTitle {
  display: flex;
  width: 85%;
}

.NewsListItem span {
  margin-left: 16px;
  color: #999;
}

.NewsListItemDate {
  display: flex;
  width: 5%;
}
.NewsListItemButton {
  display: flex;
  justify-content: flex-end;
  min-width: 50px;
  width: 10%;
}

.NewsListItemButton i {
  text-align: center;
  margin-left: 70px;
  min-width: 50px;
  font-size: 24px;
}
